img {
  height: 1em;
}

div.owner {
  margin-top: 0.5em;
  padding-left: 2em;
  padding-top: 0.5em;
  background-color: #E0EBEB;
  width: 100%;
}

ol {
  padding: 0em;
  width: 100%;
}

.num {
  text-align: center;
  padding-left: 5em;
}

td.flag {
  width: 2em;
  text-align: right;
}

td.country {
  width: 10em;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8em;
}

div.main {
  width: 35%;
}

h1 {
  text-align: center;
}

/*div {
  border: 1px dotted red;
}
*/

